@model TAK.Web.ViewModels.Home.LocationsAndNewsInHomePageViewModel
@using TAK.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="        background-image: url(https://res.cloudinary.com/sharwinchester/image/upload/v1612475764/%D0%9A%D1%80%D0%B5%D0%BF%D0%BE%D1%81%D1%82%D0%BD%D0%B0_%D1%81%D1%82%D0%B5%D0%BD%D0%B0_%D0%A5%D0%B8%D1%81%D0%B0%D1%80%D0%BB%D1%8A%D0%BA%D0%B02_k9nqph.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    @*<p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>*@
                                    <h1 class="intro-title mb-4">
                                        <br> Сдружение по туризъм
                                        <span class="color-b">Кюстендил </span>
                                    </h1>
                                    @*<p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">01.15.2021г.</span></a>
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="        background-image: url(https://res.cloudinary.com/sharwinchester/image/upload/v1612475602/23.%D0%A5%D1%83%D0%B4%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%B0_%D0%B3%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F_-_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%94%D0%B8%D0%BC%D0%B8%D1%82%D1%80%D0%BE%D0%B2_-_%D0%9C%D0%B0%D0%B9%D1%81%D1%82%D0%BE%D1%80%D0%B0_1_f3iigx.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    @*<p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>*@
                                    <h1 class="intro-title mb-4">
                                        <br> Сдружение по туризъм
                                        <span class="color-b">Кюстендил </span>
                                    </h1>
                                    @*<p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">01.15.2021г.</span></a>
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="        background-image: url(https://res.cloudinary.com/sharwinchester/image/upload/v1612474830/25.%D0%9C%D1%83%D0%B7%D0%B5%D0%B5%D0%BD_%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81_%D0%A1%D0%B2.%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8_-_%D0%9A%D1%8E%D1%81%D1%82%D0%B5%D0%BD%D0%B4%D0%B8%D0%BB_3_ywaonw.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    @*<p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>*@
                                    <h1 class="intro-title mb-4">
                                        <br> Сдружение по туризъм
                                        <span class="color-b">Кюстендил </span>
                                    </h1>
                                    @*<p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">01.15.2021г.</span></a>
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->

<main id="main">

    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box-d">
                                <h3 class="title-d">За сдружението</h3>
                            </div>
                        </div>
                    </div>
                    <div class="property-description">
                        <p class="description color-text-a">
                            Сдружение по туризъм – гр. Кюстендил има за основна цел подобряване и
                            гарантиране на активно предлагане на туристическа услуга – разнообразна,
                            широкообхватна и с безкомпромисно качество.
                        </p>
                        <p class="description color-text-a no-margin">
                            В Сдружението членуват повече от 50 обекта, като техният брой непрекъснато
                            нараства. Именно това е гарант за поддържането на високо ниво на предлаганият
                            туристически продукт, поддържането на висок туристически стандарт, отличаващ се с
                            особени грижа и внимание, насочени към гостите на града.
                        </p>
                        <p class="description color-text-a no-margin">
                            Всеки от членовете в Сдружението е поел ангажимента да сътрудничи и да
                            подпомага развитието на туризма в града. Чрез своя принос и с уверени стъпки, членовете
                            на Сдружението поддържат и съхраняват репутацията на Кюстендил като притегателен
                            туристически център, а също и като богата природно и лековита балнеоложка дестинация.
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Дейности</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-bed"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Хотели</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Хотели, хотелски комплекси с комбинирана услуга, семейни хотели и къщи за
                                гости, олицетворяващи гостоприемството в местните традиции.
                            </p>
                        </div>
                        @*<div class="card-footer-c">
                                <a href="#" class="link-c link-icon">
                                    Read more
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-cutlery"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Ресторанти</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Ресторанти и кафенета, предлагащи автентично докосване до вкусна храна,
                                разнообразна кухня, богати кулинарни традиции и висок клас обслужване.
                            </p>
                        </div>
                        @*<div class="card-footer-c">
                                <a href="#" class="link-c link-icon">
                                    Read more
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-users"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Услуги</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Разнообразни по вид и обхват услуги, включващи спорт, спа, почивка и релакс,
                                туризъм и култура, история и балнеология.
                            </p>
                        </div>
                        @*<div class="card-footer-c">
                                <a href="#" class="link-c link-icon">
                                    Read more
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Кюстендил - красива природа и богата история</h1>
                    </div>
                </div>
                @*<div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justi fy-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    About
                                </li>
                            </ol>
                        </nav>
                    </div>*@
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= About Section ======= -->
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-img-box">
                        <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1612474822/DJI_0251-HDR_sebhx6.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="sinse-box">
                        <h3 class="sinse-title">
                            Празникът на плодородието
                            @*<span></span>
                                <br> Sinse 2017*@
                        </h3>
                        <p>04.10.2020г.</p>
                    </div>
                </div>
                <div class="col-md-12 section-t8">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <img src="https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_800,w_600/v1610620041/5_aazp1g.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2  d-none d-lg-block">
                            <div class="title-vertical d-flex justify-content-start">
                                <span>Градът на изворите и художниците</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 section-md-t3">
                            <div class="title-box-d">
                                <h3 class="title-d">
                                    Овощната градина
                                    @*<span class="color-d">porttitor</span>*@
                                    <br> на България.
                                </h3>
                            </div>
                            <p class="color-text-a">
                                Кюстендил е един от най-древните български градове. Градът има осемхилядолетна
                                история на поселищния живот и повече от 1900-годишна градска традиция.
                            </p>
                            <p class="color-text-a">
                                Многовековната история на града е тясно свързана с лечебните минерални извори.
                            </p>
                            <p class="color-text-a">
                                Цели пет от общо 100 национални туристически обекта се намират в Кюстендил.
                                Това са: къща-музей „Димитър Пешев”, Художествената галерия, Средновековна църква
                                „Св. Георги”, Регионален исторически музей, връх „Руен”.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="property-description">
                        <p class="description color-text-a">
                            Притегателни за посетителите на града са лечебните минерални извори.
                            Културният живот на града е неповторим и невероятно сполучлив микс от традиция и
                            новости. Безпрецедентни и неповторими, с огромно регионално, но и национално
                            значение са празниците на града. Стотици туристи преживяват наред с местните хора
                            емоциите и красотата на Кюстендилска пролет и Празникът на черешата, черпят
                            смирение и надежда чрез уханието, разнасящо се из градчето по време на Панагия –
                            Въздигането на хляба, радват се на цветовете и безграничното човешко въображение,
                            избухващо в неповторими композиции на Празника на плодородието.
                        </p>
                        <p class="description color-text-a no-margin">
                            Кюстендил предлага разнообразни вариации и алтернативи на стандартния
                            туризъм. Неотменен акцент винаги е поставен на богатството на природата,
                            разнообразните хобита и спорт, автентичната атмосфера и кухнята, запазените традиции.
                        </p>
                        <p class="description color-text-a no-margin">
                            Планина Осогово също предоставя отлични условия за зимен туризъм. Гостите на
                            града могат да се радват на две писти, ски център, съоръжения за практикуване на ски и
                            сноуборд, както и да ползват уюта и топлината на местата за настаняване.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Последни новини</h2>
                        </div>
                        <div class="title-link">
                            <a asp-area="" asp-controller="News" asp-action="All">
                                Виж всички
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="new-carousel" class="owl-carousel owl-theme">
                @foreach (var newsPost in Model.News)
                {
                <div class="carousel-item-c">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img src="@newsPost.ImageUrl" alt="" class="img-b img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                @*<div class="card-category-b">
                        <a href="#" class="category-b">Travel</a>
                    </div>*@
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="@newsPost.NewsPostUrl">
                                            @newsPost.Title
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">@newsPost.CreatedOn.ToString("dd.MM.yyyy" + "г.")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }              
            </div>
        </div>
    </section><!-- End Latest News Section -->
    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Нашите обекти</h2>
                        </div>
                        <div class="title-link">
                            <a asp-area="" asp-controller="Locations" asp-action="All">
                                Виж всички
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="property-carousel" class="owl-carousel owl-theme">
                @foreach (var location in Model.Locations)
                {
                <div class="carousel-item-b">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@location.ImageUrl" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="@location.LocationUrl">
                                            @location.Name
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">@location.Type</span>
                                    </div>
                                    <a href="@location.LocationUrl" class="link-a">
                                        Виж повече
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                @*<div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                            <li>
                                <h4 class="card-info-title">Area</h4>
                                <span>
                                    340m
                                    <sup>2</sup>
                                </span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Beds</h4>
                                <span>2</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Baths</h4>
                                <span>4</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Garages</h4>
                                <span>1</span>
                            </li>
                        </ul>
                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </section><!-- End Latest Properties Section -->


</main><!-- End #main -->