@model TAK.Web.ViewModels.News.NewsListViewModel
@using System.Globalization;
@{
    this.ViewData["Title"] = "News";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Новини</h1>
                    @*<span class="color-text-a">grid news</span>*@
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                @*<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            News Grid
                        </li>
                    </ol>
                </nav>*@
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- =======  Blog Grid ======= -->
<section class="news-grid grid property-grid">
    <div class="container">
        <div class="row">  
            <div class="col-sm-12">
                <div class="grid-option">
                    <div class="container d-flex justify-content-end">
                        <div class=" mt-12 p-12">
                            <div class="input-group">
                                <form asp-action="All" method="get" style="display: flex;">
                                    <input type="text" name="searchString" class="form-control border-dark" placeholder="Търсене">
                                    <div class="input-group-append"><button class="btn btn-outline-success"><i class="fa fa-search"></i></button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        @foreach (var newsPost in Model.News)
                        {
                            <div class="col-md-4">
                                <div class="card-box-b card-shadow news-box">
                                    <div class="img-box-b">
                                        <img src="@newsPost.ImageUrl" alt="" class="img-b img-fluid">
                                    </div>
                                    <div class="card-overlay">
                                        <div class="card-header-b">
                                            @*<div class="card-category-b">
                                        <a href="#" class="category-b">Travel</a>
                                    </div>*@
                                            <div class="card-title-b">
                                                <h2 class="title-2">
                                                    <a href="@newsPost.NewsPostUrl">
                                                        @newsPost.Title
                                                    </a>
                                                </h2>
                                            </div>
                                            <div class="card-date">
                                                <span class="date-b">@newsPost.CreatedOn.ToString("dd.MM.yyyy" + "г.")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="pagination-a">
                                <ul class="pagination justify-content-end">
                                    @if (this.Model.CurrentPage == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <span class="ion-ios-arrow-back"></span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item previous">
                                            <a class="page-link" asp-route="newsRoute" asp-route-name="" asp-route-page="@(this.Model.CurrentPage - 1)">
                                                <span class="ion-ios-arrow-back"></span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 1; i <= this.Model.PagesCount; i++)
                                    {
                                        var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                                        <li class="page-item @active">
                                            <a class="page-link" asp-route="newsRoute" asp-route-name="" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    @if (this.Model.CurrentPage == this.Model.PagesCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <span class="ion-ios-arrow-forward"></span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item next">
                                            <a class="page-link" asp-route="newsRoute" asp-route-name="" asp-route-page="@(this.Model.CurrentPage + 1)">
                                                <span class="ion-ios-arrow-forward"></span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section><!-- End Blog Grid-->
