@model TAK.Web.ViewModels.News.NewsDetailsViewModel
@using System.Globalization;
@{
    this.ViewData["Title"] = this.Model.Title;
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
@section metatags
{
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:image" content="@Model.Urls.First()" />
}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">@Model.Title</h1>
                        @*<span class="color-text-a">News Single.</span>*@
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    @*<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Book Cover Deisgn
                                </li>
                            </ol>
                        </nav>*@
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                        @foreach (var pictureUrl in Model.Urls)
                        {
                            <div class="carousel-item-b">
                                <img src="@pictureUrl" alt="">
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <div class="post-information">
                        <ul class="list-inline text-center color-a">
                            @if (!String.IsNullOrWhiteSpace(Model.Author))
                            {
                                <li class="list-inline-item mr-2">
                                    <strong>Автор: </strong>
                                    <span class="color-text-a">@Model.Author</span>
                                </li>
                            }
                            <li class="list-inline-item">
                                <strong>Дата: </strong>
                                <span class="color-text-a">@Model.CreatedOn.ToString("dd.MM.yyyy" + "г.")</span>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content color-text-a">
                        @Html.Raw(Model.Content)
                    </div>
                    <div class="post-footer">
                        <div class="post-share">
                            <span>Сподели: </span>
                            <ul class="list-inline socials">
                                <li class="list-inline-item">
                                    @* TO DO: GENERATE UNIQUE LINK WHEN I KNOW THE OFFICIAL DOMAIN AND USE IT IN THE FB SHARE LINK BELOW: string pageUrl= Request.Url.GetLeftPart(UriPartial.Authority).ToString() + "/Uploads/Profiles/Pages/" + post.PostPageLink.ToString();*@
                                    <div class="fb-share-button"
                                         data-href="https://tourismkyustendil.bg/News/@Model.LatinTitle"
                                         data-layout="button"
                                         data-size="large">
                                    </div>
                                </li>
                                @*<li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="text-center">
                            <a asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-b">Edit</a>
                            <a asp-controller="News" asp-action="Remove" asp-route-id="@Model.Id" type="submit" class="btn btn-b">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section><!-- End Blog Single-->

</main><!-- End #main -->
